@import '../../vendor/filament/forms/dist/module.esm.css';

@tailwind base;
@tailwind components;

body {
  font-family: 'Darker Grotesque', sans-serif;
}

:root {
  --form-control-color: black;
}

.NFTFtransition {
  @apply transition duration-150 
}

.form-control {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control:focus-within {
  box-sizing: border-box;
  color: var(--form-control-color);
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  box-sizing: border-box;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  box-sizing: border-box;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em black;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  box-sizing: border-box;
  transform: scale(1);
}

input[type="radio"]:focus {
  box-sizing: border-box;
  outline: max(2px, 0.15em) solid #2DF540;
  outline-offset: max(2px, 0.15em);
}

/* tooltip aniamtion */
.tooltip-animation {
  animation-name: to-top;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes to-top {
  0% {
    top: 32px;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}


@tailwind utilities;